extends layout 

block content
  #index-data-container.flex.flex-col.gap-10
    #index-category-list
      h1.text-blue-500.text-3xl.font-bold=title
      ul.mt-10
        each category in categories
          li.mb-4 
            h3.text-2xl.text-gray-400.font-bold=category.name
            p.text-sm=category.description
            .items-container.flex.gap-4
              each item in items 
                if item.category.name===category.name 
                  a(href=item.url)  
                    .item-container.w-60.h-32.bg-gray-50.flex.flex-col.justify-center.items-center.p-2.drop-shadow-sm.rounded-md
                      p.font-bold #{item.name}